* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1330px;
}

ul,
li,
a,
button,
input {
  text-decoration: none;
  list-style: none;
  background: none;
  border: none;
  outline: none;
}

.nav_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav_top i {
  font-size: 20px;
  cursor: pointer;
}
.nav_top .nav_right, .nav_top .nav_left {
  display: flex;
  gap: 20px;
}
.nav_top .menu {
  display: none;
}

.nav_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.nav_bar ul {
  display: flex;
  gap: 44px;
}
.nav_bar ul .nav_bar__link {
  color: #726E8D;
  font-size: 16px;
  padding-bottom: 3px;
  transition: 0.3s linear;
  border-bottom: 2px solid transparent;
}
.nav_bar ul .nav_bar__link:hover {
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  transition: 0.3s linear;
}

.navigation {
  z-index: 1;
  position: absolute;
  top: -500%;
  right: -500%;
  width: 300px;
  background: #fff;
  height: 100vh;
  transition: 1s linear;
}
.navigation.open {
  right: 0;
  top: 0;
  position: fixed;
}
.navigation i {
  font-size: 26px;
  margin: 16px;
}
.navigation ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.navigation ul .nav_bar__link {
  display: flex;
  width: 300px;
  padding: 15px 30px;
  transition: 0.3s linear;
  color: #726E8D;
  font-size: 16px;
}
.navigation ul .nav_bar__link:hover {
  background: rgba(114, 110, 141, 0.7176470588);
  color: #fff;
  transition: 0.3s linear;
}

@media screen and (max-width: 760px) {
  .nav_bar, hr, .nav_right {
    display: none !important;
  }
  .nav_top {
    flex-direction: row-reverse;
  }
  .menu {
    display: block !important;
  }
}
.header {
  background: url(../../../img/Frame\ 143.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 37vh;
}
.header .hero_header {
  height: 30vh;
  display: flex;
  align-items: flex-end;
}
.header .hero_header h1 {
  color: var(--White, #FFF);
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
}

@media screen and (max-width: 760px) {
  .header {
    background: url(../../../img/Frame\ 143.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
  }
  .header .hero_header {
    height: 20vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .header .hero_header h1 {
    color: var(--White, #FFF);
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;
  }
}
.first_btn {
  display: none;
  justify-content: center;
  gap: 16px;
  margin: 20px 0;
}
.first_btn button {
  color: #2A254B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  background: var(--Light-Grey, #F9F9F9);
  padding: 16px 32px;
  cursor: pointer;
  transition: 0.3s linear;
}
.first_btn button:hover {
  background: var(--Light-Grey, rgba(182, 181, 181, 0.8666666667));
}

.first_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first_top ul {
  display: flex;
  gap: 30px;
  padding: 20px 0;
}
.first_top ul .section_link {
  color: #2A254B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.first_cards {
  margin: 28px 0;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.first_cards .card h4 {
  color: var(--Dark-Primary, #2A254B);
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 24px;
}
.first_cards .card span {
  color: var(--Dark-Primary, #2A254B);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.first_bottom {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.first_bottom button {
  padding: 16px 32px;
  background: var(--Light-Grey, #F9F9F9);
  color: #2A254B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.3s linear;
  cursor: pointer;
}
.first_bottom button:hover {
  background: var(--Light-Grey, #cecbcb);
}

@media screen and (max-width: 1005px) {
  .first_cards .card img {
    width: 250px;
  }
}
@media screen and (max-width: 700px) {
  .first_btn {
    display: flex;
  }
  .first_top {
    display: none;
  }
  .first_cards .last_card {
    display: none;
  }
  .first_cards .card img {
    width: 170px;
  }
}
@media screen and (max-width: 410px) {
  .first_cards .card img {
    width: 140px;
  }
  .first_cards .card h4 {
    font-size: 16px;
    margin-top: 10px;
  }
  .first_cards .card span {
    font-size: 14px;
  }
  .first_bottom button {
    width: 100%;
  }
}
.footer {
  background: var(--Dark-Primary, #2A254B);
}

.footer_body {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer_body .footer_left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.footer_body ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer_body ul .footer_link {
  color: var(--White, #FFF);
  font-size: 14px;
  font-weight: 400;
  transition: 0.2s linear;
}
.footer_body ul .footer_link:hover {
  color: rgba(255, 255, 255, 0.543);
}
.footer_body .footer_right {
  width: 45%;
}
.footer_body .footer_right p {
  color: var(--White, #FFF);
  font-size: 16px;
  font-weight: 400;
}
.footer_body .footer_right form {
  margin-top: 16px;
  width: 100%;
  display: flex;
}
.footer_body .footer_right input {
  width: 60%;
  background: rgba(255, 255, 255, 0.15);
  padding: 17px 32px;
  color: var(--White, #FFF);
  font-size: 16px;
}
.footer_body .footer_right input::placeholder {
  color: var(--White, #FFF);
  font-size: 16px;
  font-weight: 400;
}
.footer_body .footer_right button {
  background: var(--White, #FFF);
  padding: 16px 32px;
  color: #2A254B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.3s linear;
  cursor: pointer;
}
.footer_body .footer_right button:hover {
  background: rgba(255, 255, 255, 0.826);
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.footer_bottom p {
  color: var(--White, #FFF);
  font-size: 14px;
  font-weight: 400;
}
.footer_bottom .social_img {
  display: flex;
  gap: 24px;
}
.footer_bottom .social_img i {
  cursor: pointer;
  font-size: 24px;
  color: #FFF;
}

@media screen and (max-width: 705px) {
  .footer_body {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer_body .footer_left {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer_body ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .footer_body ul .footer_link {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s linear;
  }
  .footer_body ul .footer_link:hover {
    color: rgba(255, 255, 255, 0.543);
  }
  .footer_body .footer_right {
    margin-top: 40px;
    width: 80%;
  }
  .footer_body .footer_right p {
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
  }
  .footer_body .footer_right form {
    margin-top: 16px;
    width: 100%;
    display: flex;
  }
  .footer_body .footer_right input {
    width: 70%;
    background: rgba(255, 255, 255, 0.15);
    padding: 17px 32px;
    color: var(--White, #FFF);
    font-size: 16px;
  }
  .footer_body .footer_right input::placeholder {
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
  }
  .footer_body .footer_right button {
    background: var(--White, #FFF);
    padding: 16px 32px;
    color: #2A254B;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: 0.3s linear;
    cursor: pointer;
  }
  .footer_body .footer_right button:hover {
    background: rgba(255, 255, 255, 0.826);
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }
  .footer_bottom p {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
  }
  .footer_bottom .social_img {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  .footer_body {
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer_body .footer_left {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer_body ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .footer_body ul .footer_link {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s linear;
  }
  .footer_body ul .footer_link:hover {
    color: rgba(255, 255, 255, 0.543);
  }
  .footer_body .footer_right {
    margin-top: 40px;
    width: 100%;
  }
  .footer_body .footer_right p {
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
  }
  .footer_body .footer_right form {
    margin-top: 16px;
    width: 100%;
    display: flex;
  }
  .footer_body .footer_right input {
    width: 60%;
    background: rgba(255, 255, 255, 0.15);
    padding: 17px 32px;
    color: var(--White, #FFF);
    font-size: 16px;
  }
  .footer_body .footer_right input::placeholder {
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
  }
  .footer_body .footer_right button {
    background: var(--White, #FFF);
    padding: 16px 22px;
    color: #2A254B;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: 0.3s linear;
    cursor: pointer;
  }
  .footer_body .footer_right button:hover {
    background: rgba(255, 255, 255, 0.826);
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }
  .footer_bottom p {
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
  }
  .footer_bottom .social_img {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
