.first_btn{
    display: none;
    justify-content: center;
    gap: 16px;
    margin: 20px 0;
    button{
        color: #2A254B;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; 
        background: var(--Light-Grey, #F9F9F9);
        padding: 16px 32px;
        cursor: pointer;
        transition: .3s linear;
        &:hover{
            background: var(--Light-Grey, #b6b5b5dd);

        }
    }
}

.first_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        gap: 30px;
        padding: 20px 0;
        .section_link{
            color: #2A254B;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%; 
        }
    }
}

.first_cards{
    margin: 28px 0;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card{
        h4{
            color: var(--Dark-Primary, #2A254B);
            font-size: 20px;
            font-weight: 400;
            line-height: 140%; 
            margin-top: 24px;
        }
        span{
            color: var(--Dark-Primary, #2A254B);
            font-size: 18px;
            font-weight: 400;
            line-height: 150%; 
        }
    }
}
.first_bottom{
    display: flex;
    justify-content: center;
    margin: 40px 0;
    button{
        padding: 16px 32px;
        background: var(--Light-Grey, #F9F9F9);
        color: #2A254B;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; 
        transition: .3s linear;
        cursor: pointer;
        &:hover{
            background: var(--Light-Grey, #cecbcb);

        }
    }
}

@media screen and (max-width:1005px) {
    .first_cards{
        .card{
            img{
                width: 250px;
            }
        }
    } 
}
@media screen and (max-width:700px) {
    .first_btn{
        display: flex;
    }
    .first_top{
        display: none;
    }
    .first_cards{
        .last_card{
            display: none;
        }
        .card{
            img{
                width: 170px;
            }
        }
    } 
}
@media screen and (max-width:410px) {
    
    .first_cards{       
        .card{
            img{
                width: 140px;
            }
            h4{
                font-size: 16px;
                margin-top: 10px;
            }
            span{
                font-size: 14px;
            }
        }
    } 
    .first_bottom{
        button{
            width: 100%;
        }
    }
}