.footer{
    background: var(--Dark-Primary, #2A254B);
}

.footer_body{
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .footer_left{
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;

    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 12px;
        .footer_link{
            color: var(--White, #FFF);
            font-size: 14px;
            font-weight: 400;
            transition: .2s linear;
            &:hover{
                color: rgba(255, 255, 255, 0.543);
            }
        }
    }
    .footer_right{
        width: 45%;
        p{
            color: var(--White, #FFF);
            font-size: 16px;
            font-weight: 400;   
        }
        form{
            margin-top: 16px;
            width: 100%;
            display: flex;
        }
        input{
            width: 60%;
            background: rgba(255, 255, 255, 0.15);
            padding: 17px 32px;
            color: var(--White, #FFF);
            font-size: 16px;
            &::placeholder{
                color: var(--White, #FFF);
                font-size: 16px;
                font-weight: 400;
            }
        }
        button{

            background: var(--White, #FFF);
            padding: 16px 32px;
            color: #2A254B;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%; 
            transition: .3s linear;
            cursor: pointer;
            &:hover{
                background: rgba(255, 255, 255, 0.826);

            }
        }
    }
}
.footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    p{
        color: var(--White, #FFF);
        font-size: 14px;
        font-weight: 400;
    }
    .social_img{
        display: flex;
        gap: 24px;
        i{
            cursor: pointer;
            font-size: 24px;
            color: #FFF;
        }
    }
}
@media screen and (max-width: 705px) {
    .footer_body{
        padding: 45px 0;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        width: 100%;
        .footer_left{
            width: 80%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            // gap: 30px;
    
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 12px;
            .footer_link{
                color: var(--White, #FFF);
                font-size: 14px;
                font-weight: 400;
                transition: .2s linear;
                &:hover{
                    color: rgba(255, 255, 255, 0.543);
                }
            }
        }
        .footer_right{
            margin-top: 40px;
            width: 80%;
            p{
                color: var(--White, #FFF);
                font-size: 16px;
                font-weight: 400;   
            }
            form{
                margin-top: 16px;
                width: 100%;
                display: flex;
            }
            input{
                width: 70%;
                background: rgba(255, 255, 255, 0.15);
                padding: 17px 32px;
                color: var(--White, #FFF);
                font-size: 16px;
                &::placeholder{
                    color: var(--White, #FFF);
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            button{
    
                background: var(--White, #FFF);
                padding: 16px 32px;
                color: #2A254B;
                font-size: 16px;
                font-weight: 400;
                line-height: 150%; 
                transition: .3s linear;
                cursor: pointer;
                &:hover{
                    background: rgba(255, 255, 255, 0.826);
    
                }
            }
        }
    }
    .footer_bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        p{
            color: var(--White, #FFF);
            font-size: 14px;
            font-weight: 400;
        }
        .social_img{
            display: none;
            
        }
    }
}
@media screen and (max-width: 560px) {
    .footer_body{
        padding: 45px 0;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        width: 100%;
        .footer_left{
            width: 80%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            // gap: 30px;
    
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 12px;
            .footer_link{
                color: var(--White, #FFF);
                font-size: 14px;
                font-weight: 400;
                transition: .2s linear;
                &:hover{
                    color: rgba(255, 255, 255, 0.543);
                }
            }
        }
        .footer_right{
            margin-top: 40px;
            width: 100%;
            p{
                color: var(--White, #FFF);
                font-size: 16px;
                font-weight: 400;   
            }
            form{
                margin-top: 16px;
                width: 100%;
                display: flex;
            }
            input{
                width: 60%;
                background: rgba(255, 255, 255, 0.15);
                padding: 17px 32px;
                color: var(--White, #FFF);
                font-size: 16px;
                &::placeholder{
                    color: var(--White, #FFF);
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            button{
    
                background: var(--White, #FFF);
                padding: 16px 22px;
                color: #2A254B;
                font-size: 16px;
                font-weight: 400;
                line-height: 150%; 
                transition: .3s linear;
                cursor: pointer;
                &:hover{
                    background: rgba(255, 255, 255, 0.826);
    
                }
            }
        }
    }
    .footer_bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        p{
            color: var(--White, #FFF);
            font-size: 14px;
            font-weight: 400;
        }
        .social_img{
            display: none;
            
        }
    }
}