.header{
    background: url(../../../img/Frame\ 143.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 37vh;
    .hero_header{
        height: 30vh;
        display: flex;
        align-items: flex-end;
        h1{
            color: var(--White, #FFF);
            font-size: 36px;
            font-weight: 400;
            line-height: 140%; 
        }
    }
}

@media screen and (max-width:760px){
    
    .header{
        background: url(../../../img/Frame\ 143.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 25vh;
        .hero_header{
            height: 20vh;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            h1{
                color: var(--White, #FFF);
                font-size: 36px;
                font-weight: 400;
                line-height: 140%; 
            }
        }
    }
  
}